.app{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Righteous', cursive;
  font-size: 50px;
  color: #fff;
  text-shadow: 5px 10px  rgba(0,0,0,0.3);
  margin-top: 2px;
}
